@model  JobRecruitment2024.Models.UserViewModel
@{
    ViewBag.Title = "Manage Employees";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}


@if (Model != null)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="p-5">
                <div class="text-center">
                    <h4 class="h4 text-gray-900 mb-4">@ViewBag.Title</h4>
                </div>

                @if (Model.UserList.Any())
                {
                    <div class="mt-4">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Name Surname</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Insurance Number</th>
                                        <th>Job Title</th>
                                        <th>Salary</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var employee in Model.UserList)
                                    {
                                        <tr>
                                            <td>@employee.name @employee.surname</td>
                                            <td>@employee.email</td>
                                            <td>@employee.phone_num</td>
                                            <td>@employee.insurance_num</td>
                                            <td>@employee.job_name</td>
                                            <td>@employee.salary</td>
                                            <td><button type="button" class="btn btn-warning btn-user btn-block updateButton" data-jobid="@employee.job_id">Edit</button></td>
                                        </tr>
                                        <tr id="updateForm_@employee.job_id" style="display:none">
                                            @using (Html.BeginForm("EmployeeUpdate", "Employee", FormMethod.Post, new { @class = "user", @style = "display:none;" }))
                                            {
                                                @Html.HiddenFor(model => model.tc, new { @Value = employee.tc, Name = "tc" })
                                                <td>
                                                    @Html.LabelFor(model => model.name, "Name:")
                                                    @Html.TextBoxFor(model => model.name, new { @class = "form-control form-control-user", @Value = employee.name, required = "required" })
                                                    @Html.LabelFor(model => model.surname, "Surname:")
                                                    @Html.TextBoxFor(model => model.surname, new { @class = "form-control form-control-user", @Value = employee.surname, required = "required" })
                                                </td>
                                                <td>
                                                    @Html.LabelFor(model => model.email, "email:")
                                                    @Html.TextBoxFor(model => model.email, new { @class = "form-control form-control-user", @Value = employee.email, required = "required" })
                                                    @Html.LabelFor(model => model.phone_num, "Phone:")
                                                    @Html.TextBoxFor(model => model.phone_num, new { @type = "text", @class = "form-control form-control-user", @Value = employee.phone_num, maxlength = 11, pattern = "[0-9]*", title = "Please enter only numbers", required = "required" })

                                                </td>
                                                <td>
                                                    @Html.LabelFor(model => model.salary, "Salary:")
                                                    @Html.TextBoxFor(model => model.salary, new { @type = "text", @class = "form-control form-control-user", @Value = employee.salary, maxlength = 10, pattern = "[0-9]*", title = "Please enter only numbers", required = "required" })
                                                    @Html.Label("Update", "Update:", new { style = "visibility:hidden;" })
                                                    <button type="submit" class="btn btn-primary btn-user btn-block">Update</button>
                                                </td>

                                            }
                                            @using (Html.BeginForm("FireEmployee", "Employee", FormMethod.Post, new { @class = "user" }))
                                            {
                                                @Html.HiddenFor(model => employee.tc, new { @Value = employee.tc, Name = "tc" })

                                                <td colspan="1">
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <button type="submit" class="btn btn-danger btn-user btn-block">Fire</button>
                                                </td>

                                            }

                                        </tr>


                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                }
                else
                {
                    <div id="errorMessage" style="color: red;"> No Employees found.</div>
                }
                <div class="text-center">
                    <a class="small" href="@Url.Action("ManagerMainPage", "Manager")">Manager Main Page</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>

    <script>
    setTimeout(function () {
        window.location.href = '@Url.Action("ManagerLoginPage","Manager")';
    }, 3000);
    </script>

}

<script>
    var updateButtons = document.getElementsByClassName('updateButton');
    for (var i = 0; i < updateButtons.length; i++) {
        updateButtons[i].addEventListener('click', function () {
            var jobId = this.getAttribute('data-jobid');
            var updateForm = document.getElementById('updateForm_' + jobId);

            if (updateForm.style.display === 'none') {
                updateForm.style.display = 'table-row';
            } else {
                updateForm.style.display = 'none';
            }
        });
    }


</script>
