
@{
    ViewBag.Title = "Manager";
}

<h2>Manager Main Page</h2>

@if (ViewBag.ErrorMessage != null)
{
    <p>@ViewBag.ErrorMessage</p>
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("ManagerLoginPage")';
        }, 3000);
    </script>
}
else
{
    <ul>
        <li><a href="ManagerUpdateAccount">Update Account Information</a></li>
        <li><a href="@Url.Action("ManageJobPosting", "Job")">Manage Job Posting</li>
        <li><a href="@Url.Action("ManageEmployees", "Job")">Manage Employees</a></li>
        <li><a href="@Url.Action("ManageApplications", "Application")">Manage Received Applications</a></li>
    </ul>

    <a href="@Url.Action("Logout", "Manager")">Log Out</a>


}