@model List<JobRecruitment2024.Models.JobViewModel>

@{
    ViewBag.Title = "Apply Job";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

@if (Model != null)
{
    if (TempData["SuccessMessage"] != null)
    {
        ViewBag.SuccessMessage = TempData["SuccessMessage"];
    }
    <div class="row">
        <div class="col-lg-">
            <div class="p-5">
                <div class="text-center">
                    <h4 class="h4 text-gray-900 mb-4">@ViewBag.Title</h4>
                </div>
                <div class="text-center">
                    <h5 class="h5 text-gray-900 mb-4">Available Jobs</h5>
                </div>
                @if (Model.Any())
                {
                    var groupedJobsByDepartment = Model.GroupBy(job => job.dep_id);

                    foreach (var departmentGroup in groupedJobsByDepartment)
                    {
                        <div class="mt-4">
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#department@(departmentGroup.Key)" aria-expanded="false" aria-controls="department@(departmentGroup.Key)">
                                @(departmentGroup.FirstOrDefault()?.dep_name) Jobs <!-- Accessing dep_name -->
                            </button>
                            <div class="collapse" id="department@(departmentGroup.Key)">
                                <div class="card card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Job Name</th>
                                                    <th>Description</th>
                                                    <th>E.L.</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var job in departmentGroup)
                                                {
                                                    int quota = @job.employee_limit - @job.vacancy;
                                                    <tr>
                                                        <td>@job.job_name</td>
                                                        <td>@job.job_description</td>
                                                        <td>@quota/@job.employee_limit</td>
                                                        <td>
                                                            <form method="post" action="@Url.Action("ApplyJob")">
                                                                @using (Html.BeginForm("ApplyJob", "Application", FormMethod.Post, new { @class = "user" }))
                                                                {
                                                                    @Html.Hidden("job_id_apply", job.job_id) <!-- Pass the JobId -->
                                                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Apply" />
                                                                }
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No jobs available</p>
                }
                <div class="text-center">
                    @if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.SuccessMessage
                        </div>
                    }
                    <a href="@Url.Action("UserMainPage", "User")">User Main Page</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    if (ViewBag.StatusMessage != null)
    {
        <div class="alert alert-success" role="alert">
           <p> @ViewBag.StatusMessage </p>
        </div>
    }

    if (ViewBag.ErrorMessage != null)
    {

        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>

        <script>
        setTimeout(function() {
        window.location.href = '@Url.Action("UserLoginPage", "User")';
        }, 3000);
        </script>
    }

}
