@model List<JobRecruitment2024.Models.Jobs>

@{
    ViewBag.Title = "Apply Job";
}

<h2>@ViewBag.Title</h2>

@if (Model != null)
{
    if (ViewBag.SuccessMessage != null)
    {
        <p>@ViewBag.SuccessMessage</p>
    }

    <h2>Available Jobs</h2>
    if (Model != null && Model.Any())
    {
        <ul>
            @foreach (var job in Model)
            {
                <li>
                    <h3>@job.job_name</h3>
                    <p>@job.job_description</p>
                    <form method="post" action="@Url.Action("ApplyJob")">
                        @Html.Hidden("job_id_apply", job.job_id) <!-- Pass the JobId -->
                        <input type="submit" value="Apply" />
                    </form>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No jobs available</p>
    }
}

else
{
    if (ViewBag.StatusMessage != null)
    {
        <p>@ViewBag.StatusMessage</p>
    }

    if (ViewBag.ErrorMessage != null)
    {

        <p>@ViewBag.ErrorMessage</p>
        <script>
    setTimeout(function () {
        window.location.href = '@Url.Action("UserLoginPage", "User")';
    }, 3000);
        </script>
    }

}

<a href="@Url.Action("UserMainPage", "User")">User Main Page</a>
