@model List<JobRecruitment2024.Models.JobViewModel>

@{
    ViewBag.Title = "Manage Applications";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}


@if (Model != null)
{
    <div class="row">
        <div class="col-lg-">
            <div class="p-5">
                <div class="text-center">
                    <h4 class="h4 text-gray-900 mb-4">@ViewBag.Title</h4>
                </div>
                @if (Model.Any())
                {
                    var groupedJobsById = Model.GroupBy(job => job.job_id);

                    foreach (var jobGroup in groupedJobsById)
                    {
                        <div class="mt-4">
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#job@(jobGroup.Key)" aria-expanded="false" aria-controls="job@(jobGroup.Key)">
                                @(jobGroup.FirstOrDefault()?.job_name) <!-- Accessing job_name -->
                            </button>
                            <div class="collapse" id="job@(jobGroup.Key)">
                                <div class="card card-body">
                                    <div class="d-flex justify-content-center">
                                        @*warning*@
                                        <div class="table-responsive">
                                            <table class="table" id="pendingTable_@(jobGroup.Key)">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Applicant Name</th>
                                                        <th>Job Name</th>
                                                        <th>Application Status</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var application in jobGroup)
                                                    {
                                                        if (application.app_status == "Pending")
                                                        {
                                                            <tr>
                                                                <td>@application.name @application.surname</td>
                                                                <td>@application.job_name</td>
                                                                <td>@application.app_status</td>

                                                                <td>
                                                                    @using (Html.BeginForm("AcceptApplication", "Application", FormMethod.Post))
                                                                    {
                                                                        @Html.Hidden("application_id", application.application_id)
                                                                        <button type="submit" class="btn btn-success btn-user btn-block">Accept</button>
                                                                    }

                                                                    @using (Html.BeginForm("RejectApplication", "Application", FormMethod.Post))
                                                                    {
                                                                        @Html.Hidden("application_id", application.application_id)
                                                                        <button type="submit" class="btn btn-danger btn-user btn-block">Reject</button>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                            <table class="table" id="processedTable_@(jobGroup.Key)" style="display:none">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Applicant Name</th>
                                                        <th>Job Name</th>
                                                        <th>Application Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var application in Model)
                                                    {
                                                        if (application.app_status != "Pending")
                                                        {
                                                            <tr>
                                                                <td>@application.name @application.surname</td>
                                                                <td>@application.job_name</td>
                                                                <td>@application.app_status</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                            <button class="btn btn-primary btn-user btn-block toggleButton" id="toggleButton@(jobGroup.Key)" data-jobgroupid="@jobGroup.Key">Show Processed Applications</button>
                                </div>
                            </div>
                        </div>
                    }
                }

                else
                {
                    <p> You don't received any applications for your job postings</p>
                }
                <div class="text-center">
                    <a href="@Url.Action("ManagerMainPage", "Manager")">Manager Main Page</a>
                </div>
            </div>
        </div>
    </div>

}
else
{<p style="color:red">@ViewBag.ErrorMessage</p>
<script>
        setTimeout(function () {
            window.location.href = '@Url.Action("ManagerLoginPage", "Manager")';
        }, 3000);
</script>
}



<script>

    var toggleButtons = document.getElementsByClassName('toggleButton');
    for (var i = 0; i < toggleButtons.length; i++) {
        toggleButtons[i].addEventListener('click', function () {
            var jobgroupId = this.getAttribute('data-jobgroupid');
            var processedTable = document.getElementById('processedTable_' + jobgroupId);
            var pendingTable = document.getElementById('pendingTable_' + jobgroupId);
            var clickedButton = document.getElementById('toggleButton' + jobgroupId);

            if (processedTable.style.display === 'none') {
                processedTable.style.display = 'table';
                pendingTable.style.display = 'none';
                clickedButton.textContent = 'Show Pending Applications';
            } else {
                processedTable.style.display = 'none';
                pendingTable.style.display = 'table';
                clickedButton.textContent = 'Show Processed Applications';
            }
        });
    }

</script>
