@model List<JobRecruitment2024.Models.Applications>

@{
    ViewBag.Title = "Manage Applications";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}


@if (Model != null)
{
    <div class="row">
        <div class="col-lg-">
            <div class="p-5">
                <div class="text-center">
                    <h4 class="h4 text-gray-900 mb-4">@ViewBag.Title</h4>
                </div>
                @if (Model.Any())
                {
                    <div class="container mt-4">
                        <div class="d-flex justify-content-center">
                            <table class="table" id="pendingTable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Application ID</th>
                                        <th>Applicant TC</th>
                                        <th>Job ID</th>
                                        <th>Application Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var application in Model)
                                    {
                                        if (application.app_status == "Pending")
                                        {
                                            <tr>
                                                <td>@application.application_id</td>
                                                <td>@application.tc</td>
                                                <td>@application.job_id</td>
                                                <td>@application.app_status</td>

                                                <td>
                                                    @using (Html.BeginForm("AcceptApplication", "Application", FormMethod.Post))
                                                    {
                                                        @Html.Hidden("application_id", application.application_id)
                                                        <button type="submit" class="btn btn-success btn-user btn-block">Accept</button>
                                                    }

                                                    @using (Html.BeginForm("RejectApplication", "Application", FormMethod.Post))
                                                    {
                                                        @Html.Hidden("application_id", application.application_id)
                                                        <button type="submit" class="btn btn-danger btn-user btn-block">Reject</button>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <table class="table" id="processedTable" style="display:none">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Application ID</th>
                                        <th>Applicant TC</th>
                                        <th>Job ID</th>
                                        <th>Application Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var application in Model)
                                    {
                                        if (application.app_status != "Pending")
                                        {
                                            <tr>
                                                <td>@application.application_id</td>
                                                <td>@application.tc</td>
                                                <td>@application.job_id</td>
                                                <td>@application.app_status</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary btn-user btn-block" onclick="toggleTables()" id="toggleButton">Show Processed Applications</button>
                    </div>
                }
                else
                {
                    <p>You don't received any applications for your job postings</p>
                }
                <div class="text-center">
                    <a href="@Url.Action("ManagerMainPage", "Manager")">Manager Main Page</a>
                </div>
            </div>
        </div>
    </div>

}
else
{<p>@ViewBag.ErrorMessage</p>
<script>
        setTimeout(function () {
            window.location.href = '@Url.Action("ManagerLoginPage", "Manager")';
        }, 3000);
</script>
}



<script>
    function toggleTables() {
        var processedTable = document.getElementById('processedTable');
        var pendingTable = document.getElementById('pendingTable');


        if (processedTable.style.display === 'none') {
            processedTable.style.display = 'table';
            pendingTable.style.display = 'none';
            toggleButton.textContent = 'Show Pending Applications';
        } else {
            processedTable.style.display = 'none';
            pendingTable.style.display = 'table';
            toggleButton.textContent = 'Show Processed Applications';
        }
    }

</script>
