@model List<JobRecruitment2024.Models.JobViewModel>

@{
    ViewBag.Title = "My Applications";
}

<h2>My Applications</h2>

@if (Model != null)
{

   if (ViewBag.SuccessMessage != null)
    {
        <p>@ViewBag.SuccessMessage</p>
    }

    if (Model != null)
    {
        foreach (var job in Model)
        {
<div>
    <p>Job Name: @job.job_name</p>
    <p>Job Description: @job.job_description</p>
    <p>Application Status: @job.app_status</p>
    @if (job.app_status == "Accepted")
    {
        using (Html.BeginForm("Employment", "Employee", FormMethod.Post))
        {
            @Html.Hidden("jobId", job.job_id)
            @Html.Hidden("tc", job.tc)
            <input type="submit" value="Confirm" />
        }
    }

    @using (Html.BeginForm("DeleteApplication", "Application", FormMethod.Post))
    {
        @Html.Hidden("applicationId", job.application_id)
        <input type="submit" value="Delete" />
    }
    <!-- Display other relevant application information -->
</div>
        }

    }
    else
    {
        <p>You don't applied any job</p>
    }
}
else
{
        <p>@ViewBag.ErrorMessage</p>
        <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("UserLoginPage","User")';
        }, 3000); // Redirect after 3 seconds
        </script>

}
<a href="@Url.Action("UserMainPage", "User")">User Main Page</a>

