@model List<JobRecruitment2024.Models.JobViewModel>

@{
    ViewBag.Title = "My Applications";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

@if (Model != null)
{
    <div class="row">
        <div class="col-lg-">
            <div class="p-5">
                <div class="text-center">
                    <h4 class="h4 text-gray-900 mb-4">@ViewBag.Title</h4>
                </div>

                @if (ViewBag.SuccessMessage != null)
                {
                    <p>@ViewBag.SuccessMessage</p>
                }
                @if (Model.Any())
                {
                    <div class="container mt-4">
                        <div class="d-flex justify-content-center">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Job Name</th>
                                        <th>Description</th>
                                        <th>Application Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var job in Model)
                                    {
                                        <tr>
                                            <td>@job.job_name</td>
                                            <td>@job.job_description</td>
                                            <td>@job.app_status</td>
                                            <td class="d-flex align-items-center">
                                                @if (job.app_status == "Accepted")
                                                {
                                                    using (Html.BeginForm("Employment", "Employee", FormMethod.Post))
                                                    {
                                                        @Html.Hidden("jobId", job.job_id)
                                                        @Html.Hidden("tc", job.tc)
                                                        <div class="mr-2">
                                                            <button type="submit" class="btn btn-primary">Confirm</button>
                                                        </div>
                                                    }
                                                }
                                                @using (Html.BeginForm("DeleteApplication", "Application", FormMethod.Post))
                                                {
                                                    @Html.Hidden("applicationId", job.application_id)
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else
                {
                    <p>You don't applied any job</p>
                }
                <div class="text-center">
                    <a href="@Url.Action("UserMainPage", "User")">User Main Page</a>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <p> @ViewBag.ErrorMessage </p>
    <script>
        setTimeout(function() {
                        window.location.href = '@Url.Action("UserLoginPage","User")';
                    }, 3000);
    </script>
}