@model JobRecruitment2024.Models.Users
@{
    ViewBag.Title = "User Registration";
}



<h2>@ViewBag.Title</h2>

@if (ViewBag.SuccessMessage != null)
{
    <p>@ViewBag.SuccessMessage</p>
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Login", "User")';
        }, 3000); // Redirect after 3 seconds
    </script>
}
@if (ViewBag.ErrorMessage != null)
{
    <p>@ViewBag.ErrorMessage</p>
}

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { id = "registrationForm" }))
{
    <label for="tc">TC:</label>
    @Html.TextBoxFor(model => model.tc)
    <br>
    <br>

    <label for="name">Name:</label>
    @Html.TextBoxFor(model => model.name)
    <br>
    <br>

    <label for="surname">Surname:</label>
    @Html.TextBoxFor(model => model.surname)
    <br>
    <br>

    <label for="email">Email:</label>
    @Html.TextBoxFor(model => model.email, new { type = "email" })
    <br>
    <br>

    <label for="password">Password:</label>
    @Html.Password("Password")
    <br>
    <br>

    <label for="phone_num">Phone Number:</label>
    @Html.TextBoxFor(model => model.phone_num)
    <br>
    <br>

    <input type="submit" value="Register">
}
