@model JobRecruitment2024.Models.Users
@{
    ViewBag.Title = "UpdateAccount";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.SuccessMessage != null)
{
    <p>@ViewBag.SuccessMessage</p>
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("UserMainPage", "User")';
        }, 5000); // Redirect after 5 seconds
    </script>
}


@if (ViewBag.ErrorMessage == "User not found. Redirecting Main Page")
{<p>@ViewBag.ErrorMessage</p>
<script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Login", "User")';
        }, 5000); // Redirect after 5 seconds
</script>
}
else
{
<p>@ViewBag.ErrorMessage</p>
}


@using (Html.BeginForm("UpdateAccount", "User", FormMethod.Post, new { id = "updateForm" }))
{
    @Html.LabelFor(model => model.name)
    @Html.TextBoxFor(model => model.name)
    <br>
    <br>

    @Html.LabelFor(model => model.surname)
    @Html.TextBoxFor(model => model.surname)
    <br>
    <br>

    @Html.LabelFor(model => model.email)
    @Html.TextBoxFor(model => model.email, new { type = "email" })
    <br>
    <br>

    @Html.LabelFor(model => model.phone_num)
    @Html.TextBoxFor(model => model.phone_num)
    <br>
    <br>

    @Html.CheckBox("changePassword", new { id = "changePasswordCheckbox" })
    @Html.Label("changePassword", "Change Password")

    <div id="newPasswordField" style="display: none;">
        @Html.Label("newPassword", "New Password")
        @Html.Password("newPassword")
        <br><br>
    </div>

    <div id="newPasswordAgainField" style="display: none;">
        @Html.Label("newPasswordAgain", "New Password Again")
        @Html.Password("newPasswordAgain")
        <br><br>
    </div>

    <input type="submit" value="Update Account">
}

<a href="UserMainPage">User Main Page</a>

<script>
    document.getElementById('changePasswordCheckbox').addEventListener('change', function () {
        var newPasswordField = document.getElementById('newPasswordField');
        var newPasswordAgainField = document.getElementById('newPasswordAgainField');

        if (this.checked) {
            newPasswordField.style.display = 'block';
            newPasswordAgainField.style.display = 'block';
        } else {
            newPasswordField.style.display = 'none';
            newPasswordAgainField.style.display = 'none';
        }
    });
</script>