@{
    ViewBag.Title = "User";
}

<h2>User Main Page</h2>
@if (TempData["SuccessMessage"] != null)
{
    ViewBag.SuccessMessage = TempData["SuccessMessage"];
}
else if (TempData["ErrorMessage"] != null)
{
    ViewBag.ErrorMessage = TempData["ErrorMessage"];
}

@if(ViewBag.SuccessMessage != null)
{
    <p> @ViewBag.SuccessMessage</p>
}

@if (ViewBag.ErrorMessage != null)
{
    <p>@ViewBag.ErrorMessage</p>
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("UserLoginPage")';
        }, 3000);
    </script>
}
else
{
    <ul>
        <li><a href="@Url.Action("UserUpdateAccount")">Update Account Information</a></li>
        <li><a href="@Url.Action("ApplyJob", "Application")">Apply jobs</a></li>
        <li><a href="@Url.Action("MyApplications", "Application")">My Applications</a></li>

    </ul>

    <a href="@Url.Action("Logout", "User")">Log Out</a>

}