@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_LayoutWithImg.cshtml";
}

@if (TempData["SuccessMessage"] != null)
{
    ViewBag.SuccessMessage = TempData["SuccessMessage"];
    <p> @ViewBag.SuccessMessage</p>
}
<div class="col-lg-6 d-none d-lg-block bg-user-login-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "user" }))
        {
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">User Login</h1>
            </div>
            <div class="form-group">
                @Html.TextBox("email", null, new { @class = "form-control form-control-user", maxlength = "50", @placeholder = "Email", required = "required", })
            </div>
            <div class="form-group">
                @Html.Password("password", null, new { @class = "form-control form-control-user", maxlength = "10", @placeholder = "Password", required = "required" })
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
        }

        <hr>
        <div class="text-center">
            <a href="@Url.Action("Register", "User")">Create an Account!</a>
        </div>
        <div class="text-center">
            <a class="small" href="@Url.Action("Forgot_Password", "Home")">Forgot Password?</a>
        </div>
        <div class="text-center">
            <a class="small" href="@Url.Action("Index", "Home")">Go Main Page</a>
        </div>
        @Html.Partial("_ErrorMessage")
    </div>
</div>
