@{
    ViewBag.Title = "User Main Page";
    Layout = "~/Views/Shared/_LayoutWithImg.cshtml";
}


@if (ViewBag.ErrorMessage != null)
{
    <p style="color:red">@ViewBag.ErrorMessage</p>
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("UserLoginPage")';
        }, 3000);
    </script>
}
else
{

    if (TempData["SuccessMessage"] != null)
    {
        ViewBag.SuccessMessage = TempData["SuccessMessage"];
    }
    else if (TempData["ErrorMessage"] != null)
    {
        ViewBag.ErrorMessage = TempData["ErrorMessage"];
    }

    <div class="text-center">
        @if (ViewBag.SuccessMessage != null)
        {
        <p style="color:green"> @ViewBag.SuccessMessage</p>
        }
        else if (ViewBag.ErrorMessage != null)
        {
        <p style="color:red"> @ViewBag.ErrorMessage</p>
        }
    </div>


    <div class="col-lg-6 d-none d-lg-block bg-user-image"></div>
    <div class="col-lg-6">
        <div class="p-5">
            <div class="text-center">
                <h4 class="h4 text-gray-900 mb-4">@ViewBag.Title</h4>
            </div>

            <a href="@Url.Action("UserUpdateAccount")" class="btn btn-primary btn-user btn-block">Update Account Information</a>
            @if (ViewBag.StatusMessage != null)
            {
                <a href="@Url.Action("JobInformation", "Employee")" class="btn btn-primary btn-user btn-block">Job Information</a>
            }
            else
            {

                <a href="@Url.Action("ApplyJob", "Application")" class="btn btn-primary btn-user btn-block">Apply jobs</a>
                <a href="@Url.Action("MyApplications", "Application")" class="btn btn-primary btn-user btn-block">My Applications</a>
            }

            <div class="text-center">
                <a class="small" href="@Url.Action("Logout", "User")">Log Out</a>
            </div>
        </div>
    </div>

}
