@model JobRecruitment2024.Models.JobViewModel

@{
    ViewBag.Title = "ManageJobPosting";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.SuccessMessage != null)
{
    <p>@ViewBag.SuccessMessage</p>
}


@if (Model != null && Model.JobsList != null)
{
    <button id="createButton">Create</button>

    <div id="Create" style="display:none">
        @Html.Raw("<br><br>")

        <form method="post">
            @Html.LabelFor(model => model.job_name, "Job Name:")
            @Html.TextBoxFor(model => model.job_name, new { required = "required" })
            @Html.Raw("<br><br>")

            @Html.LabelFor(model => model.job_description, "Job Descrition:")
            @Html.TextBoxFor(model => model.job_description, new { required = "required" })
            @Html.Raw("<br><br>")

            @Html.LabelFor(model => model.employee_limit, "Employee Limit:")
            @Html.TextBoxFor(model => model.employee_limit, new { required = "required" })
            @Html.Raw("<br><br>")

            <input type="submit" value="Create Job" />
        </form>
    </div>

    <div id="Read">

        @if (Model.JobsList.Any())
        {
            foreach (var job in Model.JobsList)
            {
                <div>
                    <h3>Name: @job.job_name</h3>
                    <p>Description: @job.job_description</p>
                    
                    <p>Vacancy/Employee Limit: @job.vacancy/@job.employee_limit </p>
                    <button class="updateButton" data-jobid="@job.job_id">Edit</button>

                    <form id="updateForm_@job.job_id" style="display: none;" method="post" action="@Url.Action("JobUpdate", "Job")">

                        @Html.HiddenFor(model => job.job_id, new { Name = "job_id" })
                        @Html.HiddenFor(model => job.dep_id, new { Name = "dep_id" })
                        @Html.HiddenFor(model => job.vacancy, new { Name = "vacancy" })


                        @Html.LabelFor(model => model.job_name, "Job Name:")
                        @Html.TextBoxFor(model => model.job_name, new { @Value = job.job_name, required = "required" })
                        <br />

                        @Html.LabelFor(model => model.job_description, "Job Descrition:")
                        @Html.TextBoxFor(model => model.job_description, new { @Value = job.job_description, required = "required" })
                        <br />

                        @Html.LabelFor(model => model.employee_limit, "Employee Limit:")
                        @Html.TextBoxFor(model => model.employee_limit, new { @Value = job.employee_limit, required = "required" })

                        <br />

                        <input type="submit" value="Update" />
                    </form>


                    <form method="post" action="@Url.Action("JobDelete", "Job")">
                        <input type="hidden" name="job_id" value="@job.job_id" />
                        <input type="submit" value="Delete" />
                    </form>
                </div>
            }
        }
        else
        {
            <div id="errorMessage" style="color: red;">No Jobs Found.</div>
        }

    </div>
}
else
{<p>@ViewBag.ErrorMessage</p>
<script>
        setTimeout(function () {
            window.location.href = '@Url.Action("ManagerLoginPage", "Manager")';
        }, 3000); // Redirect after 3 seconds
</script>
}
<a href="@Url.Action("ManagerMainPage", "Manager")">Manager Main Page</a>


<script>
    document.getElementById('createButton').addEventListener('click', function () {
        var createDiv = document.getElementById('Create');
        if (createDiv.style.display === 'none') {
            createDiv.style.display = 'block';
            document.getElementById("errorMessage").style.display = "block";
        }
        else {
            createDiv.style.display = 'none';
            document.getElementById("errorMessage").style.display = "none";
        }
    });

    var updateButtons = document.getElementsByClassName('updateButton');
    for (var i = 0; i < updateButtons.length; i++) {
        updateButtons[i].addEventListener('click', function () {
            var jobId = this.getAttribute('data-jobid');
            var updateForm = document.getElementById('updateForm_' + jobId);

            if (updateForm.style.display === 'none') {
                updateForm.style.display = 'block';
            } else {
                updateForm.style.display = 'none';
            }
        });
    }
</script>
